@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Noto+Sans+JP:wght@300;500&family=Roboto&display=swap');

@mixin serif {
  font-family: 'EB Garamond', serif;
}

@mixin sans-serif-title {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
}
@mixin body-text {
  font-family: 'Roboto', sans-serif;
}